<%= javascript_include_tag 'voyage/route_types' %>

<div id="ctnVoyageRouteTypeIndex">
  <script id="template" type="text/x-kendo-template">
    <a id="btnDoQuery" class="k-button" href="\#"><span class="k-icon k-i-search"></span>查询</a>
    <a id="btnDoNew" class="k-button" href="\#"><span class="k-icon k-i-plus"></span>新增</a>
    <a id="btnDoEdit" class="k-button" href="\#"><span class="k-icon k-i-pencil"></span>编辑</a>
    <a id="btnDoDelete" class="k-button" href="\#"><span class="k-icon k-i-close"></span>删除</a>
  </script>

  <div id="mainGrid"></div>
</div>

<div id="ctnVoyageRouteTypeEditWrap"></div>
