
<%= form_for @user_session, builder: SmartFormBuilder, url: user_sessions_path do |f| %>

    <div class="s-row-fluid">
      <%= f.text_field :account, label: {class: "s-span15"}, class: 's-span30' %>
    </div>

    <div class="s-row-fluid">
      <%= f.text_field :password, label: {class: "s-span15"}, class: 's-span30' %>
    </div>

    <div class="actions">
      <%= f.submit 'sing in' %>
    </div>

<% end %>



