<div class="s-row-fluid s-layout">
  <label class="s-span5">s-span5</label>
  <input class="s-span7" type="text">
  <label class="s-span5">s-span5</label>
  <input class="s-span7" type="text">
  <label class="s-span5">s-span5</label>
  <input class="s-span7" type="text">
  <label class="s-span5">s-span5</label>
  <input class="s-span7" type="text">
  <label class="s-span5">s-span5</label>
  <input class="s-span7" type="text">
</div>

<div class="s-row-fluid s-layout">
  <label class="s-span5">s-span5</label>
  <input class="s-span19" type="text">
  <label class="s-span5">s-span5</label>
  <input class="s-span19" type="text">
  <label class="s-span5">s-span5</label>
  <input class="s-span7" type="text">
</div>

<div class="s-row-fluid s-layout">
  <label class="s-span4">s-span4</label>
  <input class="s-span8" type="text">
  <label class="s-span4">s-span4</label>
  <input class="s-span8" type="text">
  <label class="s-span4">s-span4</label>
  <input class="s-span8" type="text">
  <label class="s-span4">s-span4</label>
  <input class="s-span8" type="text">
  <label class="s-span4">s-span4</label>
  <input class="s-span8" type="text">
</div>

<div class="s-row-fluid s-layout">
  <label class="s-span4">s-span4</label>
  <input class="s-span20" type="text">
  <label class="s-span4">s-span4</label>
  <input class="s-span20" type="text">
  <label class="s-span4">s-span4</label>
  <input class="s-span8" type="text">
</div>

<style>
    .s-layout label {
        background-color: #BBFFFF;
    }
</style>