<div class="system-image">
  <% user_systems.each do |sys| %>
      <a href="<%= sys.url %>" class="<%= 'system-image-'+ sys.system_code.downcase %>"></a>
  <% end %>
</div>

<div style="display: none;" id="user_group_settings"><%= user_group_settings %></div>