<!DOCTYPE html>
<html>
<head>
  <title>SmartDoc</title>
  <%= stylesheet_link_tag    "smart_doc/application", media: "all" %>
  <%= javascript_include_tag "smart_doc/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
