<%= javascript_include_tag 'roles' %>

<div id="ctnRoleIndex">
  <script id="template" type="text/x-kendo-template">
    <% if can? :read, Role %>
        <a id="btnDoQuery" class="k-button" href="\#"><span class="k-icon k-i-search"></span>查询</a>
    <% end %>
    <% if can? :edit, Role %>
        <a id="btnDoNew" class="k-button" href="\#"><span class="k-icon k-i-plus"></span>新增</a>
        <a id="btnDoEdit" class="k-button" href="\#"><span class="k-icon k-i-pencil"></span>编辑</a>
    <% end %>
    <% if can? :destroy, Role %>
        <a id="btnDoDelete" class="k-button" href="\#"><span class="k-icon k-i-close"></span>删除</a>
    <% end %>
  </script>

  <div id="mainGrid"></div>
</div>

<div id="ctnRoleEditWrap"></div>
